rica-fica-chatgpt-processing/
test-documents-id-passport-drivers/
test-documents-orientation/
test-documents-proof-of-residence/
test-forged-documents/
test-id-cards-afrihost/
skew-docs-1/
skew-docs-2/
skew-docs-3/
skew-docs-4/
processed-documents/
deskewed_images/
scanned-or-photographed/
API_KEY.txt
.env